{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol" autofocus class="form-select form-control mx-auto w-auto" aria-label="Default select example">
                <option selected>Symbol</option>
                {% for distinct_symbol in symbols %}
                    <option>{{distinct_symbol}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="shares" placeholder="Shares" type="number" min="1">
        </div>

        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}